body{
    color:#333;
    background: #1e1f24;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
#cabecera{
    background: #33A;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    box-shadow: 1px 3px 15px 6px rgba(0,0,0,0.33);
    -webkit-box-shadow: 1px 3px 15px 6px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px 3px 15px 6px rgba(0,0,0,0.33);
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container{
    width: 70%;
    padding: 0 auto;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}
#post {
    margin: 0;
    padding: 1em;
    background: white;
}
#container h1{
    font-size: 20px;
}
#footer{
    text-align: center;
    background: rgb(105, 105, 105);
}