body{
    color: #333;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
#cabecera{
    background: #33A;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container{
    width: 70%;
    padding: 0 auto;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#post {
    margin: 1em;
}
#container h1{
    font-size: 20px;
}